# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    annotations: false
    http_method_override: false
    handle_all_throwables: true
    http_client: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

    # Package "theme" : fichiers statiques dans public/assets/ (sans versioning)
    assets:
        packages:
            theme:
                base_path: '/assets'
                version: null

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file