CREATE TABLE feedback (id INT AUTO_INCREMENT NOT NULL, rating INT NOT NULL, comment LONGTEXT NOT NULL, created_at DATETIME NOT NULL, sentiment_score DOUBLE PRECISION DEFAULT NULL, patient_id INT NOT NULL, medecin_id INT NOT NULL, rendez_vous_id INT DEFAULT NULL, appointment_id INT DEFAULT NULL, INDEX IDX_D22944586B899279 (patient_id), INDEX IDX_D22944584F31A84 (medecin_id), INDEX IDX_D229445891EF7EAA (rendez_vous_id), INDEX IDX_D2294458E5B533F9 (appointment_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE ordonnances (id INT AUTO_INCREMENT NOT NULL, date_ordonnance DATETIME NOT NULL, diagnosis VARCHAR(255) NOT NULL, medicament VARCHAR(255) NOT NULL, posologie VARCHAR(255) NOT NULL, notes LONGTEXT NOT NULL, instructions LONGTEXT NOT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, patient_id INT NOT NULL, medecin_id INT NOT NULL, appointment_id INT NOT NULL, document_id INT DEFAULT NULL, INDEX IDX_5F98A94A6B899279 (patient_id), INDEX IDX_5F98A94A4F31A84 (medecin_id), INDEX IDX_5F98A94AE5B533F9 (appointment_id), INDEX IDX_5F98A94AC33F7837 (document_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE rendez_vous (id INT AUTO_INCREMENT NOT NULL, appointment_date DATETIME NOT NULL, message VARCHAR(500) DEFAULT NULL, statut VARCHAR(20) NOT NULL, created_at DATETIME NOT NULL, doctor_id INT NOT NULL, patient_id INT NOT NULL, INDEX IDX_65E8AA0A87F4FB17 (doctor_id), INDEX IDX_65E8AA0A6B899279 (patient_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE temps_travail (id INT AUTO_INCREMENT NOT NULL, day_of_week VARCHAR(20) NOT NULL, start_time TIME NOT NULL, end_time TIME NOT NULL, doctor_id INT NOT NULL, specific_date DATE DEFAULT NULL, PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE calendar_setting (id INT AUTO_INCREMENT NOT NULL, slot_duration INT NOT NULL, pause_start TIME DEFAULT NULL, pause_end TIME DEFAULT NULL, doctor_id INT NOT NULL, PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE documents (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(255) NOT NULL, type VARCHAR(50) NOT NULL, chemin VARCHAR(255) NOT NULL, taille INT NOT NULL, description LONGTEXT DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, medecin_id INT NOT NULL, patient_id INT NOT NULL, INDEX IDX_A2B072884F31A84 (medecin_id), INDEX IDX_A2B072886B899279 (patient_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE indisponibilite (id INT AUTO_INCREMENT NOT NULL, date DATE NOT NULL, doctor_id INT NOT NULL, is_emergency TINYINT NOT NULL, PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE rapport (id INT AUTO_INCREMENT NOT NULL, consultation_reason VARCHAR(255) NOT NULL, created_at DATETIME NOT NULL, diagnosis VARCHAR(255) NOT NULL, observations LONGTEXT NOT NULL, recommendations LONGTEXT NOT NULL, treatments LONGTEXT NOT NULL, updated_at DATETIME NOT NULL, patient_id INT NOT NULL, medecin_id INT NOT NULL, appointment_id INT NOT NULL, document_id INT DEFAULT NULL, INDEX IDX_BE34A09C6B899279 (patient_id), INDEX IDX_BE34A09C4F31A84 (medecin_id), INDEX IDX_BE34A09CE5B533F9 (appointment_id), INDEX IDX_BE34A09CC33F7837 (document_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
ALTER TABLE feedback ADD CONSTRAINT FK_D22944586B899279 FOREIGN KEY (patient_id) REFERENCES patients (id);
ALTER TABLE feedback ADD CONSTRAINT FK_D22944584F31A84 FOREIGN KEY (medecin_id) REFERENCES medecins (id);
ALTER TABLE feedback ADD CONSTRAINT FK_D229445891EF7EAA FOREIGN KEY (rendez_vous_id) REFERENCES rendez_vous (id);
ALTER TABLE feedback ADD CONSTRAINT FK_D2294458E5B533F9 FOREIGN KEY (appointment_id) REFERENCES appointment (id);
ALTER TABLE ordonnances ADD CONSTRAINT FK_5F98A94A6B899279 FOREIGN KEY (patient_id) REFERENCES patients (id);
ALTER TABLE ordonnances ADD CONSTRAINT FK_5F98A94A4F31A84 FOREIGN KEY (medecin_id) REFERENCES medecins (id);
ALTER TABLE ordonnances ADD CONSTRAINT FK_5F98A94AE5B533F9 FOREIGN KEY (appointment_id) REFERENCES appointment (id);
ALTER TABLE ordonnances ADD CONSTRAINT FK_5F98A94AC33F7837 FOREIGN KEY (document_id) REFERENCES documents (id);
ALTER TABLE rendez_vous ADD CONSTRAINT FK_65E8AA0A87F4FB17 FOREIGN KEY (doctor_id) REFERENCES medecins (id);
ALTER TABLE rendez_vous ADD CONSTRAINT FK_65E8AA0A6B899279 FOREIGN KEY (patient_id) REFERENCES patients (id);
ALTER TABLE documents ADD CONSTRAINT FK_A2B072884F31A84 FOREIGN KEY (medecin_id) REFERENCES medecins (id);
ALTER TABLE documents ADD CONSTRAINT FK_A2B072886B899279 FOREIGN KEY (patient_id) REFERENCES patients (id);
ALTER TABLE rapport ADD CONSTRAINT FK_BE34A09C6B899279 FOREIGN KEY (patient_id) REFERENCES patients (id);
ALTER TABLE rapport ADD CONSTRAINT FK_BE34A09C4F31A84 FOREIGN KEY (medecin_id) REFERENCES medecins (id);
ALTER TABLE rapport ADD CONSTRAINT FK_BE34A09CE5B533F9 FOREIGN KEY (appointment_id) REFERENCES appointment (id);
ALTER TABLE rapport ADD CONSTRAINT FK_BE34A09CC33F7837 FOREIGN KEY (document_id) REFERENCES documents (id);
ALTER TABLE medecins ADD ai_average_score DOUBLE PRECISION DEFAULT NULL, ADD ai_score_updated_at DATETIME DEFAULT NULL, CHANGE specialty specialty VARCHAR(255) NOT NULL;
CREATE UNIQUE INDEX UNIQ_691272DDABE530DA ON medecins (cin);
ALTER TABLE patients CHANGE address address LONGTEXT DEFAULT NULL;
ALTER TABLE appointment DROP FOREIGN KEY `FK_FE38F8444F31A84`;
DROP INDEX IDX_FE38F8444F31A84 ON appointment;
ALTER TABLE appointment ADD start_time TIME DEFAULT NULL, ADD duration INT DEFAULT 30 NOT NULL, ADD reminder_sent TINYINT DEFAULT 0 NOT NULL, CHANGE medecin_id doctor_id INT NOT NULL;
ALTER TABLE appointment ADD CONSTRAINT FK_FE38F84487F4FB17 FOREIGN KEY (doctor_id) REFERENCES medecins (id);
CREATE INDEX IDX_FE38F84487F4FB17 ON appointment (doctor_id);
